.header {
  height: 44px;
  min-height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.btn {
  width: 44px;
}

.btn:hover {
  color: #000;
  background-color: var(--hover-color);
}

.header-title {
  flex: 1;
  text-align: center;
}
