.day-btn {
  all: unset;
  display: inline-block;
  width: 50px;
  height: 36px;
  background-color: var(--default-color);
  text-align: center;
}

.day-btn:hover {
  background-color: var(--hover-color);
}

.day-btn--today {
  background-color: var(--today-color);
}

.day-btn--active,
.day-btn--active.day-btn--not-current-month {
  color: #fff;
  background-color: var(--active-color);
}

.day-btn--active:hover,
.day-btn--active.day-btn--not-current-month:hover {
  color: #fff;
  background-color: var(--active-color);
  filter: brightness(90%);
}

.day-btn--not-current-month {
  background-color: transparent;
  color: var(--non-current-month-color);
}
